<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="contenedor-flex">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <div class="titulo_content">
                <h1 class="titulo">BD SENA manager</h1>
            </div>
        </div>
    
       
    </nav>
</div>